<!--app strucuture-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Akatsuki</title>
    <link rel="icon" href="./static/assests/favicon1.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
</head>
<body>

    <div id="tori_gate">
        <h1 style="font-family: mcregular;color: antiquewhite; text-align: center; text-shadow: 2px .5px rgb(255, 0, 0);margin-top: 50px;">
            A K A T S U K I</h1>
            
    
        <h3 style="font-family: mcregular;color: rgb(182, 15, 15);text-align: center;">
            <big>online community for Loners.</big> 
        </h3>
    
        <h3 style="font-family: mcregular;color: rgb(182, 15, 15);margin-left: 15%;">
            We'll talk about money, muscle and life. we'll have fun , discuss and grow :) <br>
            
        </h3>
        <h3 style="font-family: mcregular;color: rgb(182, 15, 15);margin-left: 30%;">
            YOU ARE NOT ALONE - open for Anyone 
        </h3>
    
    
    
            <div id="container" style="position: relative;">
                            
        <div id="logo">
            <img src="./static/assests/favicon.png" alt="logo" style="width: 150px;height: 150px; border-radius: 100px;position: relative;">
                    
        </div>
                <div id="box_login">

                    <a href="/login" style="text-decoration: none;">
                        <div id="id_button" class="enter_buttons" >LOGIN</div>
                    </a>
                    
                    <a href="/register" style="text-decoration: none;">
                        <div id="register_button" class="enter_buttons">REGISTER</div>
                    </a>
                    
          
    
    
                </div>
    
            </div>

            
    
    
    
        
    </div>
    
<footer>

    <div id="footer_box">
        
    <div class="footer_details"> 
        <p style="text-align: center;font-family: mcregular;">meet the dev</p>
        <div style="display: flex;justify-content: space-evenly;"> 
            <div style="position: relative;top: -30px;">
                <img src="./static/assests/favicon1.png" style="height: 50px;width: 50px;border-radius: 50px;"></div>
            <div style="position: relative;top: -25px;">
                <p style="font-family: mcregular;">Anonymous Jinchuriki 0512</p>
            </div>
            

        </div>
        <div style="position: relative;top: -25px;">
            <p class="footer_content">hello, I'm Kushal <br>this community is built by a Loner who seeks peace in this world. wants to make living out of his hardwork. eagerly looking for like-minded ppl to thrive</p>
        </div>
    </div>

    <div class="footer_details" style="text-align: center;"> 
        <h2 style="position: relative;top: 30%;">2025 Akatsuki ©</h2>
    </div>

    <!-- BUILDING FAQ ACCORDIAN-->


    <div class="footer_details">


        <h3 style="text-align: center;font-family: mcregular;">FAQ</h3>
        <div  class="faq " id="faq1">* how tokenization works ?</div>
        <div class="faq" id="faq2">* contact details</div>
        <div class="faq" id="faq3">* Terms and conditions</div>
        <div class="faq" id="faq4">* spam / NFSW blocker</div>
    </div>
    </div>


</footer>


   



    <script src="{{ url_for('static', filename='app.js') }}" defer></script>
    <script src="https://cdn.socket.io/4.3.2/socket.io.min.js"></script>

</body>


</html>