<!--app strucuture-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Akatsuki</title>
    <link rel="icon" href="./static/assests/favicon1.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
</head>
<body>

    <div id="tori_gate" style="text-decoration: none;">
        <a href="/" style="text-decoration: none;">
            <h1 style="font-family: mcregular;color: antiquewhite; text-align: center; text-shadow: 2px .5px rgb(255, 0, 0);margin-top: 50px;">
                A K A T S U K I</h1>
        </a>

      
    
            <div id="container" style="position: relative;">
                            
        <div id="logo">
            <img src="./static/assests/favicon.png" alt="logo" style="width: 150px;height: 150px; border-radius: 100px;position: relative;">
                    
        </div>
                <div id="box_login" style="background-color: rgb(34, 20, 20);">
                    
                    <a href="/register" style="text-decoration: none;">
                        <button style = "position:absolute;right:5px;top:5px;font-family:mcregular" >signup<br>instead?</button>
                    </a>

                    <form action="/signin" method="post">
                    <label style = "font-family:mcregular;color:white;position:absolute;top:125px;font-size:large;left: 40px;display: inline-block;">email: </label>
                    <input type="text" id="ip_mail"  name="mail_field" style="height:30px;position:relative;top:60px;" placeholder="xyz@smtg.com" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
                    
                    <br>
                    <label style = "font-family:mcregular;color:white;position:absolute;top:175px;font-size:large;left: 40px;">pass: </label>
                    <input type="password" id="ip_pass"  name="pass_field" style="height:30px;position:relative;top:70px" placeholder="password goes here.." required>
                    <button type="submit" style="font-family:mcregular;position:absolute;top:57%;padding-bottom: 10px;text-align: center;" id="enter">enter</button>
                    </form>
                    <br>
                    <p style="color:white;font-family:mcregular;font-family:mcregular;position: relative;top:-2px">- - - - - or - - - - -</p>
                    <button id="google_auth_button" style= "font-family:mcregular;height:30px;position:absolute;bottom:20px;cursor:pointer">sign-in with google</button>
         
    
                    </div>
 
     
    
    </div>
    
        
    </div>
    
<footer>

    <div id="footer_box">
        
    <div class="footer_details"> 
        <p style="text-align: center;font-family: mcregular;">meet the dev</p>
        <div style="display: flex;justify-content: space-evenly;"> 
            <div style="position: relative;top: -30px;">
                <img src="./static/assests/favicon1.png" style="height: 50px;width: 50px;border-radius: 50px;"></div>
            <div style="position: relative;top: -25px;">
                <p style="font-family: mcregular;">Anonymous Jinchuriki 0512</p>
            </div>
            

        </div>
        <div style="position: relative;top: -25px;">
            <p class="footer_content">hello, I'm Kushal <br>this community is built by a Loner who seeks peace in this world. wants to make living out of his hardwork. eagerly looking for like-minded ppl to thrive</p>
        </div>
    </div>

    <div class="footer_details" style="text-align: center;"> 
        <h2 style="position: relative;top: 30%;">2025 Akatsuki ©</h2>
    </div>

    <!-- BUILDING FAQ ACCORDIAN-->


    <div class="footer_details">


        <h3 style="text-align: center;font-family: mcregular;">FAQ</h3>
        <div  class="faq " id="faq1">* how tokenization works ?</div>
        <div class="faq" id="faq2">* contact details</div>
        <div class="faq" id="faq3">* Terms and conditions</div>
        <div class="faq" id="faq4">* spam / NFSW blocker</div>
    </div>
    </div>


</footer>


   



    <script src="{{ url_for('static', filename='app.js') }}" defer></script>

</body>


</html>