{% extends "layout.html" %}



{% block content %} 



    <div id="container" style="position: relative;">
                            
        <div id="logo">
            <img src="./static/assests/favicon.png" alt="logo" style="width: 150px;height: 150px; border-radius: 100px;position: relative;">
                    
        </div>
                <div id="box_login">

                    <h2 style = "font-family:mcregular;color:white;position:absolute;top:120px;font-size:large" id="otp_sent_desc">Enter the OTP sent to your email</h2>
                    <form>
                    <input type="text" name="otp_login" placeholder="Enter OTP" required style="height:30px;position:relative;top:90px" id="otpvalue_login"> 
                    <button type="button" style="font-family:mcregular;position:absolute;right:50px;background-color:black;color:red;top:55%" id="verify_login">Verify</button>
                    </form>
                    
                  
    
    
                </div>
    
        
    
    </div>

{% endblock %}